body {
    font-family: Verdana;
    background-color: #A25656;
    text-align: center;
}

img {
    margin: 10px;
    border-radius: 10px;
}

#start_container {
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section1, #section2, #section3, #section5, #section6, #section7, #section8, #section9 {
    display: none;
    background-color: #D49191;
    padding: 20px;
    border-radius: 5px;
    width: 800px;
    margin: 10px auto 10px auto;
}

#section4 {
    display: none;
}

#flower_image {
    width: 400px;
}

#key_image {
    width: 200px;
    opacity: 0.0;
}

#find {
    color: gold;
}

#pic_options {
    display: flex;
    justify-content: space-between;
}

.purple {
    color: #C000D4;
}

.lock {
    display: none;
}

#lock1 {
    width: 400px;
    margin: auto;
}

#lock {
    color: #FF6900;
}

.indigo {
    color: indigo;
}

.candle {
    display: flex;
    align-items: center;
}

.italic {
    font-style: italic;
}

#four {
    color: lightblue;
}

#treasure {
    width: 400px;
}

#gold {
    width: 400px;
}